/* Jeopardy title font --- fontfamily Gyparody Regular */
/* Category font --- OPTIKorinna-Agency Regular (add Bold) */

/* Jeopardy Blue

060CE9
HEX
6,12,233
RGB */

:root  {
  --jeopardy-blue: #060CE9;
  --lightest-grey: #e6e6e8;

}
body {
background: var(--jeopardy-blue);
font-family: "OPTIKorinna-Agency Regular", Times, serif;
}
header {
  width: 100%;
  height: 200px;
  text-align: center;
  background-position: top;
  background-repeat: no-repeat;
}

.main_nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 5px solid #c0c0c0;
  box-shadow: inset 0px 0px 20px 0px rgba(255,255,255,1);


}
.main_nav li {
  float:left;
}
li , a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #c0c0c0;
    font-family: Gyparody, Times, serif;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 5px;
}
.container {
  display: grid;
  grid-gap: 10px;
  width: 75%;
  font-size: 2em;
  border: 1px solid white;
  color: white;
  padding: .8em;
}


button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.6em 0;
  border-radius: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ####### display size ######## */
/* med screens */
@media all and (max-width: 800px) {
  .main_nav {
    justify-content: space-around;
  }
}
/* small screens */
@media all and (max-width: 600px) {
  .main_nav  {
    flex-wrap: wrap;
  }

  .main_nav li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .main_nav  li {
   flex-basis: 100%;
 }

}
